.agendaTitle {
  color: black;
  font-size: 70px;
  font-weight: 600;
}

.agendaStyle {
  margin-bottom: 40px;
}

#room1, #room2, #room3, #room4 {
  cursor: pointer;
}

#room1 {
  background-color: #CC0000;
  color: white;
}

#room2 {
  background-color: #219e5f;
  color: white;
}

#room3 {
  background-color: #5491f2;
  color: white;
}

#room4 {
  background-color: #fdc02f;
  color: white;
}

