.hackathonTitle {
  color: white;
  font-size: 70px;
  font-weight: 600;
}

.registerButton {
  background-color: #CC0000;
  border-color: #CC0000;
  color: #FFF;
}
.registerButton:hover {
  color: #CC0000;
  border-color: #CC0000;
  background-color: #FFF;
}
