.eventContainer {
  /*display: flex;*/
  justify-content: space-between;
  background: white;
}

.eventHeaderTitle {
  min-width: 290px;
  text-align: center;
}

.eventTitle {
  font-size: 40px;
  font-weight: 600;
  color: #172636;
}

.eventSubtitle {
  font-size: 25px;
}

.eventBlurbWrapper {
  min-width: 290px;
  text-align: center;
}

.eventBlurb {
  font-size: 20px;
  padding: 20px;
}

.moreButton0 {
  background-color: #5491f2;
  border-color: #5491f2;
  color: #FFF;
}
.moreButton0:hover {
  color: #5491f2;
  border-color: #5491f2;
  background-color: #FFF;
}

.moreButton1 {
  background-color: #CC0000;
  border-color: #CC0000;
  color: #FFF;
}
.moreButton1:hover {
  color: #CC0000;
  border-color: #CC0000;
  background-color: #FFF;
}

.moreButton2 {
  background-color: #fdc02f;
  border-color: #fdc02f;
  color: #000;
}
.moreButton2:hover {
  color: #000;
  border-color: #fdc02f;
  background-color: #FFF;
}
