.eventContainer {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 5px;
  border-bottom: 3px solid gray;
  margin: 30px auto;
  max-width: 70%;
}

.eventHeaderTitle {
  width: 35%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.eventTitle {
  font-size: 40px;
  font-weight: 600;
  color: #172636;
}

.eventSubtitle {
  font-size: 25px;
}

.eventBlurbWrapper {
  width: 60%;
  text-align: center;
}

.eventBlurb {
  font-size: 20px;
  padding: 20px;
}
