
.speakerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
}

.speakerCard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speakerWrapper {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 20px;
  border-radius: 100px;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.speakerPhoto {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0.5;
}

.speakerPhoto:hover {
  opacity: 1;
}
