
.speakerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  max-width: 1024px;
  margin: 30px auto;
}

.speakerCard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.speakerWrapper {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.speakerPhoto {
  cursor: pointer;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
