.speakerBackground {
  background-color: #172636;
  min-height: 153px;
}

.speakerTitle {
  margin: 40px;
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
}

.speakerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  max-width: 1024px;
  margin: 30px auto;
}

.speakerCard {
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  margin: 30px;
}

.speakerWrapper {
  height: 240px;
  width: 240px;
  overflow: hidden;
  background: #172636;
  margin: 0px 0px 20px;
}

.speakerPhoto {
  height: 100%;
  width: 100%;
}

.speakerName {
  margin-bottom: 20px;
}

.modalBox {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
}
