
.timer-container {
  max-width: 500px;
  border-radius: 5px;
  margin: 25px auto;
  padding: 15px;
  background: white;
  border-bottom: 3px solid grey;
}

.react-count-down {
  margin: 0;
  color: #172636;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize; 
}
