
.timer-container {
  background-color: #db4f47;
}

.react-count-down {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
}

.subtitle {
  font-color: white;
}
