.hero-body {
  padding: 3rem 2.5rem;
}

.speakerDetailWrapper {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: auto;
  display: block;
  border-radius: 100px;
}

.speakerDetailPhoto {
  height: 100%;
  width: 100%;
  background-color: white;
}
