.font, .blurbTitle, .blurbSubtitle {
  font-family: 'Caveat', cursive;
  font-weight: 600;
}

.background {
  background-color: #f9f9f9;
}

.blurbTitle {
  font-size: 50px;
  color: #666;
  text-align: center;
}

.blurbSubtitle {
  color: #666;
  font-size: 30px;
}

.blurbContent {
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

.blurbBody {
  max-width: 800px;
  min-width: 210px;
  margin-bottom: 15px;
  text-align: left;
}

.headerBannerLogo {
  display: inline-block;
  max-width: 600px;
}

.registerButton {
  color: #CC0000;
  border-color: #CC0000;
  background-color: #FFF;
}

.registerButton:hover {
  background-color: #CC0000;
  border-color: #CC0000;
  color: #FFF;
}
