.background {
  background-color: #172636;
}

.blurbTitle {
  font-size: 45px;
  font-weight: 600;
  color: white;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.blurbContent {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.blurbBody {
  max-width: 800px;
  min-width: 210px;
  margin-bottom: 15px;
  text-align: center;
}

.headerBannerLogo {
  margin-bottom: 15px;
}

.registerButton {
  background-color: #CC0000;
  border-color: #CC0000;
  color: #FFF;
}
.registerButton:hover {
  color: #CC0000;
  border-color: #CC0000;
  background-color: #FFF;
}
