/* unvisited link */
.links:link {
    color: white;
}

/* visited link */
.links:visited {
    color: white;
}

/* mouse over link */
.links:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
.links:active {
    color: white;
}

.footerColor {
  background-color: #172636;
}
