.sponsorWrapper {
  background-color: white;
}

.sponsorTitle {
  color: #172636;
  font-weight: 600;
  margin-bottom: 10px;
}

.sponsorMargin {
  margin: 15px;
}

.platinum {
  width: 360px;
}

.gold {
  width: 320px;
}

.silver {
  width: 280px;
}

.partners {
  width: 240px;
}

.local {
  width: 220px;
}

.venue {
  width: 200px;
}
